@model PagedList.IPagedList<BlueMarble.Data.ImageData>
@{
    ViewBag.Title = "Search Results";
}

<!-- Shows text in the blue box at the top of the page -->
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <font size="3">Found
            @ViewBag.Count
            images that show @ViewBag.Address</font> 
        </div>
    </section>
}
<table>

<!-- Iterate over the paginated model objects -->
@foreach (var item in Model)
{
        <tr>
            <td>
                @*Add rel="lightbox" if we want to use that*@
                <a href="@Html.DisplayFor(modelItem => item.Highresurl)" >
                    <img src="@Html.DisplayFor(modelItem => item.Lowresurl)" width="550" />
                </a>
            </td>
            <td style="vertical-align: top; text-align: left">
                <table style="min-width: 300px">
                    <tr><td>Longitude: </td><td>@Html.DisplayFor(modelitem => item.Longitude)</td></tr>
                    <tr><td>Latitude: </td><td>@Html.DisplayFor(modelitem => item.Latitude)</td></tr>
                    <tr><td>Cloud cover:  </td><td>@Html.DisplayFor(modelitem => item.CloudCoveragePercentage)%</td></tr>

                </table>
            </td>
        </tr>
}
</table>

<!-- Show pagination controls -->
<center>
<div style="background-color: Gray; color:Black"> 
     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "SearchImages", new { page = 1, Address=ViewBag.Address  })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "SearchImages", new { page = Model.PageNumber - 1, Address=ViewBag.CurrentFilter  })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }
     
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "SearchImages", new { page = Model.PageNumber + 1, Address = ViewBag.Address })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "SearchImages", new { page = Model.PageCount, Address = ViewBag.Address })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>
</center>
