<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - The Blue Marble</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
                <div class="float-center">
                    <p class="site-title"><img src="../../Images/logo.png" /></p>
                </div>
                <!--
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">The Big Marble</a></p>
            </div>-->
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li><a href="http://bigmarble.azurewebsites.net">Location Search</a></li>
                        <li><a href="http://bigmarble.azurewebsites.net/Home/about">About</a></li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
