<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - The Blue Marble</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <!-- Tried to get lightbox working using these imports, didnt work -->
    <!-- See http://lokeshdhakar.com/projects/lightbox2/ -->
    <link href="@Url.Content("~/Lightbox/css/lightbox.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Lightbox/js/jquery-1.7.2.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Lightbox/js/jquery-ui-1.8.18.custom.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Lightbox/js/jjquery.smooth-scroll.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Lightbox/js/lightbox.js")" type="text/javascript" ></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<header>-->
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><img src="../../Images/logo.png" width="960" /></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <!-- Change this list to show the links on the top of the page  -->
                        <li>@Html.ActionLink("location search", "Index", "Home")</li>
                        @*<li>@Html.ActionLink("Location Sprawl", "Location", "Home")</li>*@
                        <li>@Html.ActionLink("about", "About", "Home")</li>
                        <li><a href="http://bigmarbleapi.azurewebsites.net" >api</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    <!--</header>-->
    <div id="body" >
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <!--
    <footer 
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@DateTime.Now.Year</p>
                </div>
            </div>
        </footer>-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
